* {
    margin: 0;
    padding: 0;
}

.header {
    display: inline-block;
    width: 100%;
    height: 90px;
    background-color: rgb(255, 7, 7);
    margin-bottom: 10px;
}

.header img {
    width: 100px;
    height: 90px;
    float: left;
}

a {
    text-decoration: none;
    color: white;
}

li {
    font-size: 18px;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    float: right;
    width: 9%;
    line-height: 90px;
    text-align: center;
    text-decoration: none;
    color: aqua;
    }

.about menu {
    font-size: 30px;  
    text-align: right;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
}


.highlight {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 38%;
    border-style: solid;
}


.highlight2 {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 42%;
    border-style: solid;
}

.vi {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    margin-bottom: 50px;
}

.vi2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    margin-bottom: 50px;
}

.if {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    flex-basis: 150px;
    flex-grow: 1;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 200px;

}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    margin-bottom: 50px;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    flex-basis: 150px;
    flex-grow: 1;
    border-style: ridge;
    
}

.box .player-desc {
    text-align: center;
    
}

.player-desc img {
    height: 250px;
}

.content2  {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    margin-bottom: 50px;
} 

.content3 {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    margin-bottom: 50px;
}  

.content4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    
} 

.bottom {
    width: 100%;
    height: 90px;
    background-color: rgb(255, 7, 7);
    margin-top: 70px;
}